fastapi
uvicorn[standard]
python-dotenv
PyJWT
groq
langchain-huggingface
langchain-text-splitters
sentence-transformers
faiss-cpu
pypdf
numpy
sqlalchemy
psycopg[binary]
alembic
pytest
httpx2
qrcode[pil]
Pillow
